[2013-05-17 16:21] dfa opened #1 "AIS layer"
Markus reported that the AIS layer does not work.

[2013-05-17 16:22] dfa opened #2 "Weather layer"
Markus reported that the weather layer does not work.

[2013-05-17 16:23] dfa opened #3 "Wikipedia layer"
Markus reported that the Wikipedia (Marker and Thumbnails) layer does not work.

[2013-05-17 16:24] dfa opened #4 "Harbour layer"
Markus reported that the harbor layer does not work.

[2013-05-17 16:24] dfa opened #5 "Search"
Markus reported that the search does not work.

[2013-05-17 16:24] dfa opened #6 "Help"
Markus reported that the help does not work.

[2013-05-17 16:26] dfa opened #7 "Hillshades layer"
Markus reported that the hillshades layer does not work.

[2013-05-17 16:28] dfa opened #8 "Graticules as default"
Markus reported that the graticules should be enabled by default.

[2013-05-18 19:31] dfa opened #9 "Gauge umlauts"
Markus reported that the gauge bubble does not correctly displays umlauts. This bug exists also on the actual map, so it has nothing to do with the migration.

As far as I see, this only happens for Swiss gauges.

[2013-05-18 19:33] dfa opened #10 "Invalid links on Swiss gauges"
Markus reported that the Swiss gauges have invalid links. This bug exists also on the actual map, so it has nothing to do with the migration.

[2013-05-18 20:46] #1 closed, assigned to dfa

[2013-05-18 20:46] #6 closed, assigned to dfa

[2013-05-18 20:47] #5 closed, assigned to dfa

[2013-05-18 20:47] #4 closed, assigned to dfa

[2013-05-18 20:47] #3 closed, assigned to nobody

[2013-05-18 20:48] #2 closed, assigned to dfa

[2013-05-18 21:40] dfa opened #11 "Permalink for gauge layer does not work"
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

When creating a permalink with activated gauge layer, the link does not activate the layer again.
###### How to reproduce the problem
- Activate gauge layer
- Create permalink
- Clear browser cache and cookies (optional)
- Call website with the permalink
###### Expected result
- The map should be load

[2013-05-18 21:49] dfa opened #12 "Harbours are not displayed in IE"
###### Affected browser versions
- All IE versions
###### Description

Loading the online map will not show the harbours in an IE-browser. This affects all versions.
###### How to reproduce the problem
- Activate harbour layer
###### Expected result
- Harbours will be displayed as in other browsers.
#### Migrated from SourceForge

ID: 3482675
Submitted: Olaf - 2012-02-01 03:03:03 PST
Details:

Loa

[2013-05-18 22:00] dfa opened #13 "Error message when JavaScript is deactivated"
When JavaScript is deactivated, the map will not be displayed. An error message like on OpenStreetMap can be a solution.
#### Acceptance criteria
- An error message is displayed when JavaScript is disabled.
- No error message is displayed when JavaScript is enabled.
#### Migrated from SourceForge

ID: 2839024
Submitted: Markus - 2009-08-17 07:41:49 PDT
Details:

Wenn auf dem PC kein Javascript ins

[2013-05-18 22:06] dfa opened #14 "Bug in grid (graticule) of online map at 180 E/W"
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

If browsing on the online map around 180° E/W, the grid is always shown just on one half of the display depending if you are either more eastern or more western of the 180th degree.
###### How to reproduce the problem
- Activate grid/graticule
- Move to 180° E/W
###### Expected result
- The graticules

[2013-05-18 22:22] dfa opened #15 "Grid (graticule) on weather map"
As skipper I'd like to have the grid (graticule) on the weather map, which allows me to get a better orientation.
###### Acceptance criteria
- Grid (graticule) is displayed on the weather map.
#### Migrated from SourceForge

ID: 3588013
Submitted: Markus - 2012-11-16 12:05:41 PST
Details:

Holger meldet per Mail: Auf der Seite der Wetterkarte wird das Koordinatengitter nicht angezeigt. Auch die Ko

[2013-05-18 22:27] dfa opened #16 "Display position (mouse cursor) on weather map"
As skipper I'd like to have displayed the position where the mouse cursor points to (on the weather map). This allows me to get a better orientation.
###### Acceptance criteria
- The position will be displayed like on the main online map.
#### Migrated from SourceForge

ID: 3588013
Submitted: Markus - 2012-11-16 12:05:41 PST
Details:

Holger meldet per Mail: Auf der Seite der Wetterkarte wird das

[2013-05-18 22:33] dfa opened #17 "Distance scale in map legend incorrect"
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

The distance scale in the bottom left of the on-line map is incorrect at latitudes other than the equator.
###### How to reproduce the problem
- Move to another latitude than the equator
###### Expected result
- The distance scale should display the correct distances.
#### Migrated from SourceForge

I

[2013-05-18 22:43] dfa opened #18 "Click on markers do not work on mobile devices"
###### Affected browser versions
- Browsers on Android 4
- Browsers on iPad
###### Description

On mobile devices, the markers for harbours, marinas, gauge and Wikipedia can not be selected.
###### How to reproduce the problem
- Open the map on a mobile device
- Activate the corresponding layers
- Try to select a marker
###### Expected result
- The same information as on the desktop version should

[2013-05-19 00:24] #11 closed, assigned to dfa

[2013-05-20 14:15] dfa opened #19 "Blue overlay on activated AIS layer"
###### Affected browser versions
* (unknown)

###### Description
When the AIS layer is activated, a blue overlay will occur from time to time, when moving the map.

###### How to reproduce the problem
* (unknown)

###### Expected result
* No blue overlay when moving the map.

#### Migrated from SourceForge

ID: 3560007
Submitted: Markus - 2012-08-20 17:26:59 PDT
Details:

Beim Verschieben der Kart

[2013-05-20 14:57] dfa opened #20 "Trip planner - wrong results crossing 180°"
###### Affected browser versions
* Seems to be a browser independent problem.

###### Description
When crossing the 180° meridian W>E or E>W on the trip planner, the calculated distance is wrong and the line will not be drawn correctly.

###### How to reproduce the problem
* Activate the trip planner
* Draw a trip across the date line

###### Expected result
* Correct line drawing.
* Correct dista

[2013-05-20 17:31] dfa opened #21 "Menu 'View' does not work on iPad"
###### Affected browser versions
- (unknown)
###### Description

On the iPad (browser IE) the menu entries in menu _View_ do not work. The entries are displayed shortly, but it is not possible to select one.
###### Expected result
- Menu entries can be selected/deselected like in other browsers.
#### Migrated from SourceForge

ID: 3562191
Submitted: Markus - 2012-08-27 07:05:12 PDT
Details:

in de

[2013-05-20 20:37] dfa opened #22 "Permalink - Download chart"
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

In the layer "download cart" of the fullscreenchart the permalink does not work.
###### How to reproduce the problem
- (unknown)
###### Expected result
- (unknown)
#### Migrated from SourceForge

ID: 3604900
Submitted: Markus - 2013-02-15 10:58:52 PST
Details:

In the layer "download cart" of the full

[2013-07-29 20:26] dfa opened #23 "Marker link ignores zoom level"
This bug has been reported on the mailing list (http://sourceforge.net/mailarchive/message.php?msg_id=31210955).
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

When creating a _Marker Link_ and changeing the zoom level, the zoom level will be ignored.
###### How to reproduce the problem
- Create a correct permalink: http://map.openseamap.org/map/?

[2013-07-29 20:33] dfa opened #24 "Permalink Wikipedia Gallery Layer"
This bug has been reported on the mailing list (http://sourceforge.net/mailarchive/message.php?msg_id=31210955).
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

When creating a permalink for the Wikipedia Gallery Layer, the Wikipedia POI Layer will be displayed.
###### How to reproduce the problem
- Create a permalink while Wikipedia Gallery Layer

[2013-09-26 18:41] dfa opened #25 "Dead link to depth website"
This bug has been reported on the mailing list (http://sourceforge.net/mailarchive/message.php?msg_id=31400410).
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

The menu point 'View/Development/Water Depth' points to a dead page.
###### How to reproduce the problem
- Click the link.
###### Expected result
- Link points to the official test depth pa

[2013-09-26 18:58] #25 closed, assigned to dfa

[2013-10-13 07:32] Nautic opened #28 "Trip planner"
Affected browser versions

    FF, may be others?

Description

    When drawing a route,, the final double click delete the line on the map,
    This makes the trip planner unusable.

How to reproduce the problem

    Activate the trip planner
    Draw a trip
    Close the route by double click

Expected result

    Correct line drawing.

[2013-10-13 08:48] #12 closed, assigned to nobody

[2013-10-24 17:19] #8 closed, assigned to nobody

[2013-10-24 17:28] dfa opened #29 "Bump OpenLayers to version 2.13.x"

[2013-11-10 15:15] dfa opened #30 "Newline on marker layer"
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

Newlines are ignored on the marker layer.
###### How to reproduce the problem
- Create a permalink with a text which contains newlines (use the permalink tool).
- Reopen this link.
###### Expected result
- The text is displayed with new lines.

[2013-11-17 12:19] #30 closed, assigned to dfa

[2013-11-17 12:20] #29 closed, assigned to dfa

[2013-11-21 07:56] Nautic opened #31 "Help in Menu Edit"
It would be nice to have a second menu item "Help"
in the menu "Edit"
because new users dont knew how to edit by JOSM.

Content:
Link to: http://openseamap.org/index.php?id=josmdownload

[2013-11-21 09:06] Nautic opened #32 "Edit by JOSM-remote does not work"
im Menü "Bearbeiten"
funktioniert "JOSM remote" nicht.
Fehlermeldung: "Bereich zu gross"
(auch wenn der Bereich z=18 ist)

gleicher Fehler in:
http://map.openseamap.org/
http://seamark.bplaced.net/lights/

[2013-11-21 09:11] Nautic opened #33 "Integrate Lights:fixme in map.openseamap"
The layer
http://seamark.bplaced.net/lights/
should be integrated in
http://map.openseamap.org/

So users can find it and help to fix the lights.

This can be integrated under menu `Tool > Quality management > Lights to fix`

[2013-11-27 09:46] Nautic opened #34 "Menu handling elevation profile"
Das ist verwechselt:
- wenn das Höhenprofil ausgeschaltet ist wird es angezeigt
- wenn das Höhenprofil eingeschaltet ist wird es nicht angezeigt

Richtig wäre andersrum :-)

[2013-11-27 09:48] Nautic opened #35 "Cursor in Menu"
When clicking in the menu, a cursor shows up.

This is wrong because there is no edit possible.

[2013-11-28 11:17] dfa opened #36 "Trip Planner Download does not work"
This bug has been reported on the forum (http://forum.openseamap.org/viewtopic.php?id=1826).
###### Affected browser versions
- Seems to be a browser independent problem.
###### Description

Downloading trip points does not work.
###### How to reproduce the problem
- Open trip planner.
- Draw some points.
- Try to download points.
###### Expected result
- The points can be downloaded in different

[2013-11-28 12:02] #36 closed, assigned to dfa

[2013-11-28 16:41] #7 closed, assigned to dfa

[2013-11-28 18:39] #34 closed, assigned to dfa

[2013-11-28 18:58] #23 closed, assigned to nobody

[2013-11-29 22:18] #22 closed, assigned to dfa

[2013-12-05 13:13] cleanerx opened #37 "Some german gauges are outdated and do not seem to provide data although they still exist"
![outdated](https://f.cloud.github.com/assets/4538270/1682654/fe92eb3c-5dae-11e3-8d27-dc7c5a176a62.png)

[2013-12-05 15:05] Nautic opened #38 "Cursor in Popup"
When clicking into a popup (harbour, gauge), a cursor shows up.

This is wrong because there is no edit possible.

[2013-12-05 15:35] Nautic opened #39 "Menu > Tools > Permalinks - bug when description field is empty"
If the chart was opened using a permalink, the tool "Permalink" is no more usable (does not open).

[2013-12-05 15:41] Nautic opened #40 "Tool "Slider""
It would be fine to have a slider between chart and DOP.
This is a very useful tool for to compare the mapping quality and reality.

The code is ready to implement.

[2013-12-05 15:49] Nautic opened #41 "Harbours and Marinas"
Dominik is working on a solution :-)

[2013-12-05 15:55] Nautic opened #42 "Tool Permalink (layout)"
In the code, there is a possibility for:
- setting the first text line or some words into "bold"
- splitting the text into more than one line (4)

This is very useful for writing an adress in the permalink-popup.

This does not work until now.

[2014-01-10 12:36] humbach opened #43 "Interface for tide-prediction"
Hi,

I finished the alpha version of a tide prediction server program. It is based on D. Flaters 'old' xTide and can predict tide values along the coast in contrast to the high seas models.

BUT to continue the development, I need some information about how to interface it with the website.

The repository can be found under https://github.com/Openseamap/tideprediction

Alexej

[2014-01-11 17:14] malcolmh opened #44 "Zoom 11 tiles not displayed"
Zoom 11 tiles are displayed in the western hemisphere.

[2014-01-12 12:38] #44 closed, assigned to dfa

[2014-01-14 06:40] Nautic opened #45 "10m-depth-tracks-layer"
Jens did implement a new 10m-layer in
http://testdepth.openseamap.org/#maptracks

The 10m-layer shows colours from red to green for 0-10m.
You can switch the layer behind the "+" in the right upper corner.

For users it would be very nice, to have this nice layer also
in our fullscreen-chart :-)
So they can use our "infrastructure" (permalink, measuring tool)
similar to the 100m-layer:
http://map.

[2014-04-25 06:57] Nautic opened #46 "Törnplaner - Daten speichern und laden"
Beim Törnplaner gibt es die Möglichkeit, den gezeichneten Track zu speichern.

Bei der Speicherung als CSV geht der Startpunkt verloren (wird nicht gespeichert).
Gespeichert werden die Wegsegmente, mit Kurs, Distanz und Position des Wegpunktes.
Dabei enthalten die Einträge aber zusätzliche/falsche Zeichen: Â in Excel, " in note++.
Beispiel s. https://sourceforge.net/p/openseamap/bugs/59/

Sinnvoll

[2014-08-21 20:06] Skippern opened #47 "Statement of copyright"
The signature states the copyright of the project is CC-by-SA, while it is quite some time ago that OpenStreetMap where the map data is hosted migrated to ODbL, this should be reflected in the signature.

[2014-08-22 05:47] #47 closed, assigned to nobody

[2014-09-21 16:13] Nautic opened #49 "GEBCO layer disturbs the chart"
Since years, the GEBCO layer makes all other layers "milky". This is due to the fact that the GEBCO tiles are rendered in a way where the land areas are white, and they are put on top of the base layer with a certain level of opacity.

Now Martin submitted a patch:
[code]

Please can somebody integrate this code?

[2014-09-28 07:33] Nautic opened #51 "Permalink Wikipedia-Gallery (Thumbnails) not working"
Permalinks with Wikipedia-Thumbnails do not work.

Marker and Thumbnails result in the same permalink layer-string:
* [0FTFFFTFFTTBFFFFFTFF](http://map.openseamap.org/index.php?lang=de&zoom=15&lat=54.18173&lon=7.89859&layers=0FTFFFTFFTTBFFFFFTFF) (Marker)
* [0FTFFFTFFTTBFFFFFTFF](http://map.openseamap.org/index.php?lang=de&zoom=15&lat=54.18173&lon=7.89859&layers=0FTFFFTFFTTBFFFFFTFF) (Thumbnails)

[2014-09-28 07:36] Nautic opened #52 "Renaming of menu point "View > Wikipedia > Thumbnails""
In menu `View > WIkipedia`

Please change the naming of `Thumbnails` to `Gallery`.

[2015-01-07 20:04] Dirk-- opened #54 "Download Layer"
Download layer points to http://sourceforge.net/projects/opennautical/files/Maps/Region/
Most of these files are outdated!
I would suggest to disable this layer (at least display a note).

[2015-01-15 13:21] ehrenfeu commented on #54
Agreed. I guess the download files are (were?) generated by Olaf, can we put this process on one of the OSeaM machines? From my understanding, OpenNautical is a project purely driven by Olaf...?

[2015-01-15 13:32] ehrenfeu commented on #13
This still applies to the OpenLayers3 implementation and should be addressed there as well.

[2015-01-15 13:36] ehrenfeu commented on #9
In the new OpenLayers3 implementation, the gauges / levels layer does not seem to have this problem. I've tested with gauge station "Hundsmühlen" in the southwest of Oldenburg.

[2015-01-15 13:37] ehrenfeu commented on #9
Ah, sorry. This is only about swiss gauges...

[2015-01-15 13:58] ehrenfeu commented on #14
With the new OpenLayers3 implemenatation, the grid is correctly shown everywhere. Currently there is a small bug though: when going to the west, longitude degrees keep increasing after 180°. Going to the east, this works as expected.

[2015-01-15 14:00] ehrenfeu commented on #15
With the new OpenLayers3 implementation, the weather map is a regular layer subset, and therefore can be combined with all other layers, including the grid.

[2015-01-15 14:01] ehrenfeu commented on #16
Will be fixed with OL3, see the comment on #15.

[2015-01-15 14:04] ehrenfeu commented on #17
This issue will be fixed with OL3.

[2015-01-15 14:08] ehrenfeu commented on #28
For me this works without any problems. Tested with:

* FF 34 (Linux)
* Chrome 39 (Linux)
* IE 9 (Win7)

I'm therefore closing this bug.

[2015-01-15 14:08] #28 closed

[2015-01-15 14:14] ehrenfeu commented on #35
Getested mit FF 34 und IE 9, kann ich nicht reproduzieren. @Nautic ist das immer noch der Fall? Kannst Du einen Screenshot machen?

[2015-01-15 14:17] ehrenfeu commented on #38
I'm pretty sure this is a duplicate of #35.

[2015-01-15 14:19] ehrenfeu commented on #35
@Nautic, kann es sein dass du den [Caret Mode](http://de.wikipedia.org/wiki/Caret_Browsing) im FireFox aktiviert hast / hattest? Das geht mit der Taste `F7` und wäre in dem Fall kein OpenSeaMap-Bug sondern ein FireFox-Feature...

[2015-01-15 14:21] ehrenfeu commented on #39
This is working fine for me with the current map. Can you please test again?

[2015-01-15 14:23] ehrenfeu commented on #42
I really don't get what this ticket / issue is about. Can you please explain more details:

* what is the current state
* what is the desired state in you suggestion?

[2015-01-15 14:39] ehrenfeu commented on #41
Unfortunately this issue doesn't have a description that is useful to anyone who wasn't involved initially.

* What is the exact problem?
* What is the current status?
* Has this been fixed for Boot-2014? Otherwise I'll remove it from this milestone...

[2015-01-15 14:50] ehrenfeu opened #55 "Update online map to integrate recent developments."
There were a couple of changes to this repository, they should be deployed on the webserver that provides the [main fullscreen map](http://map.openseamap.org/).

Some / most changes are corresponding to issue #49, even though not everything is completed there yet.

[2015-01-15 14:54] Nautic commented on #41
Seit irgendwann 2013 die Hafen-DB abgestürzt war, werden keine WPI-Daten mehr angezeigt.
Bitte bei Dominik nachfragen, ob was er da schon gemacht hat.
Dann kann man vielleicht darauf aufbauen.

[2015-01-15 15:15] ehrenfeu commented on #49
There have been a lot of things going on regarding the GEBCO layer, see e.g. the [corresponding thread on the developer's mailing list](http://sourceforge.net/p/openseamap/mailman/openseamap-develop/thread/547DFB26.1080701%40he1ix.org/#msg33102275):

* depth colouring is now working and will be deployed on the main webserver (hopefully) soon (see #55)
* marine contour shading has been adjusted to

[2015-01-15 15:37] ehrenfeu commented on #19
I've never seen this behaviour. As no one else complained for this long period, I'll close the issue.

Feel free to re-open it in case we receive additional information / reports!

[2015-01-15 15:37] #19 closed

[2015-01-16 07:49] ehrenfeu opened #56 "Trip planner: check waypoints in generated CSV"
This is a followup on #46 to split the ticket into its task.

[code]

Apparently, there is / was a problem with the CSV generated by the trip planner so that the starting point was missing.

[2015-01-16 07:50] ehrenfeu opened #57 "Trip planner: check encoding of non-ASCII chars in generated CSV"
This is a followup on #46 to split the ticket into its task.

[code]
Excel and Notepad++ are having problems with special chars like german umlauts in the generated CSV.

[2015-01-16 07:53] ehrenfeu opened #58 "Trip planner: allow loading of downloaded tracks"
This is a followup on #46 to split the ticket into its task.

[code]
Feature request for an option to re-load downloaded trips to allow displaying / editing them.

[2015-01-16 07:55] ehrenfeu opened #59 "Trip planner: re-start editing of an existing track"
This is a followup on #46 to split the ticket into its tasks.

Feature request to re-enable the editing mode after a track was finished (e.g. by accidentially clicking on the last marker).

[2015-01-16 09:02] ehrenfeu opened #60 "Trip planner: consider precision of three floating point decimals"
This is a followup on #46 to split the ticket into its tasks.

This is a feature request for three floating point decimals for being able to use the trip planner as a precise measuring tool.

[2015-01-16 09:02] ehrenfeu opened #61 "Trip planner: allow switching distance units (nm <-> km)"
This is a followup on #46 to split the ticket into its tasks.

Some OpenStreetMap people asked for switching from nautical miles (nm) to kilometres (km).

[2015-01-16 09:11] ehrenfeu opened #62 "Trip planner: support downloading in GPX format"
This is a followup on #46 to split the ticket into its tasks.

Currently supported:
- CSV (**where are the specifications??**)
- KML ([Keyhole Markup Language](http://de.wikipedia.org/wiki/Keyhole_Markup_Language))
- GML ([Geography Markup Language](http://de.wikipedia.org/wiki/Geography_Markup_Language))

Desired:
- GPX ([GPS Exchange Format](http://de.wikipedia.org/wiki/GPS_Exchange_Format))

[2015-01-16 09:21] ehrenfeu commented on #46
Bitte keine "Sammeltickets" anlegen, das wird schnell extrem unübersichtlich. Falls doch, dann nur um andere Tickets zu referenzieren, die ganzen einzelnen Punkte sollten auch in separaten Issues angelegt werden. Ich habe das jetzt gemacht und werde daher dieses Über-Ticket schliessen.

Please don't create [Über-tickets](http://en.wikipedia.org/wiki/%C3%9Cber), as it is very hard this way to keep

[2015-01-16 09:21] #46 closed

[2015-01-16 09:51] ehrenfeu commented on #40
This has been implemented by @tkan for the OL2 map, demo available here:

* http://sattaq.lacerta.uberspace.de/map/

Where is the code for this, I couldn't find it anywhere?

[2015-01-16 12:16] ehrenfeu commented on #51
Steps to reproduce:

1. Enable `View > Wikipedia-Links > Marker`
1. Click the "Permalink" at the right bottom
1. Enable `View > Wikipedia-Links > Thumbnails`
1. Click the "Permalink" at the right bottom again

Results in the same address being generated.

[2015-01-16 12:22] ehrenfeu commented on #52
Has there been a discussion about this? I'd prefer the old name, as I would expect being redirected from the map to a "Gallery" when I click a button with such a name.

[2015-01-16 12:31] ehrenfeu commented on #51
This is a duplicate of #24.

[2015-01-16 12:31] #51 closed

[2015-01-16 12:34] ehrenfeu commented on #33
Where is the code for the layer shown on seamark.bplaced.net?

[2015-01-16 12:35] Dirk-- commented on #54
Activity: http://sourceforge.net/p/opennautical/activity/?page=0&limit=100
As far as I know:
al_friede=olaf, leo12305=rolf
Alexej is working on rebirth: https://github.com/OpenSeaMap/chart-designer

[2015-01-16 12:41] ehrenfeu commented on #9
The example URL is dead right now as the gauges service has been shut down there. Therefore, we currently cannot reproduce this problem...

[2015-01-16 13:48] ehrenfeu commented on #41
Contacted @dfa via PM to see if there has been work done on this issue already.

Further information: [World Port Index (WPI)](http://en.wikipedia.org/wiki/World_Port_Index) data is published by the [National Geospatial-Intelligence Agency](http://msi.nga.mil/):
* [WPI website](http://msi.nga.mil/NGAPortal/MSI.portal?_nfpb=true&_pageLabel=msi_portal_page_62&pubCode=0015)
* [WPI database download (

[2015-01-18 23:32] #49 closed

[2015-01-19 13:59] ehrenfeu commented on #56
I can confirm this bug exists in the trip planner of the current online map. Actually it is not only about CSV downloads, the starting point also is not shown in the waypoints list in the browser - only at a separate location above the list.

However, this is already fixed in the new OL3 trip planner, so I'm closing this issue here.

[2015-01-19 13:59] #56 closed

[2015-01-20 08:54] ehrenfeu commented on #38
Closing as a duplicate.

[2015-01-20 08:54] #38 closed

[2015-01-20 08:55] ehrenfeu commented on #42
No feedback yet, therefore removing it from the milestone "Boot 2015".

[2015-01-20 09:07] ehrenfeu commented on #41
There is a corresponding [thread from 2013-11 on the "devel" mailing list](https://sourceforge.net/p/openseamap/mailman/message/31639771/).

[2015-01-20 09:21] ehrenfeu commented on #20
This is fixed with the trip planner in the OL3 map.

[2015-01-20 09:21] #20 closed

[2015-01-20 13:29] ehrenfeu opened #63 "Investigate alternative AIS layer."
@Skippern sent this message to the list a while ago:

[2015-01-20 13:46] ehrenfeu commented on #41
There is [another related thread from 2014-09](https://sourceforge.net/p/openseamap/mailman/openseamap-develop/thread/CAARvwkJ1YvKL3i1dvyxZMOh9KtVLm%2BsEhrWexOM8V3hiEoRsKg%40mail.gmail.com/#msg32863291) that stronlgy suggests to coordinate this stuff also with Peter (from skipperguide.de) and Malcolm.

[2015-01-20 13:52] ehrenfeu commented on #41
Also see OpenSeaMap/harbour-database#1

[2015-02-06 08:41] ehrenfeu commented on #39
I think this is solved. Feel free to re-open the issue with more details in case the problem persists!

[2015-02-06 10:04] Nautic commented on #39
Das Verhalten ist nach wie vor fehlerhaft:
Klick auf "Permalink" öffnet wie erwartet die aktuelle Kartenansicht und zeigt die URL in der Adresszeile.
Anschliessend ist es aber nicht möglich, im Menü "Werkzeuge" das Tool "Permanlink" zu öffnen.
Zwar kann man den Haken setzen, aber das hat keine Wirkung.

Generell wäre es sinnvoll, einen Menüeintrag durch Anklicken /irgendwo/ in der Zeile öffnen zu

[2015-02-06 10:11] ehrenfeu commented on #39
Ah, now I can reproduce this, it's about the "Marker Permalink" function in the "Tools" menu! Thanks for the additional information.

Apparently there is a problem with the "marker text" - if you open the map using a marker-permalink the menu function doesn't work any more if the marker doesn't have a description.

If the marker **does** have a description, it is working fine.

[2015-02-06 10:31] Nautic commented on #39
Im Menü "Werkzeuge" Tool "Permalink" gibt es noch zwei weitere Fehler:

1. Wenn ein Marker gesetzt wird, kann dieser durch einen zweiten Klick geändert werden.
   Wenn ein Text eingetragen wird, kann der beliebig geändert werden.
   Wen aber die Layer geändert werden, wird die Änderung nicht in die URL übernommen.
2. Im Originalcode gab es einen Knopf für "fett". Damit konnte man markierte Texttei

[2015-02-06 10:34] ehrenfeu commented on #39
1. I can confirm this, the layers only get updated when the marker is re-positioned with another click.

[2015-03-03 09:02] malcolmh commented on #63
Another service that you may consider is aishub.net. I upload my AIS data to this as well as marinetraffic.com. This means that we can download their global data.

[2015-03-09 22:00] fiendish opened #66 "source project missing license"
Please indicate a license for the project. The website seems to indicate maybe CC BY-SA 2.0 (consider updating to 4.0?), but the source project hosted on Github doesn't have any indication of licensing except in some specific files.

[2015-03-09 22:05] ehrenfeu commented on #66
@fiendish I absolutely agree, I was already wondering the same. It might be hard to find all people involved in the code, but this should definitely be done! Are you subscribed on the developer's mailing list btw?

[2015-03-09 22:11] Skippern commented on #66
@fiendish @ehrenfeu I am no expert in Licenses, and often do *bad* choices myself. I prefer to stick to a *safe* **GNU GPL v2**, but see that there are now becoming quite a number of different open licenses with different purposes and level of protection.

A choice of license have to be well planned as not to restrict re-use of code from sources likely to use.

Remember that the background data is

[2015-03-09 22:16] fiendish commented on #66
@ehrenfeu I'm not on the mailing list. I'm just doing nautical openlayers development at work right now, and OSM has been a valuable resource that I want to contribute back to. But without obvious licensing rules that becomes difficult.

[2015-03-29 12:01] Dirk-- commented on #63
Joined aishub.net, too.
Pros:
- well structured
- transparent
Cons:
- coverage (in my area) not as good as marinetraffic's

[2015-09-30 04:59] Nautic opened #67 "Wikipedia layer does not work"
The Wikipedia layer (Marker and Thumbnails) not work:
http://map.openseamap.org/?zoom=17&lat=53.62527&lon=11.4196&layers=BFTFFFTFFTT0FFFFFFFF

[2015-10-16 14:42] aAXEe commented on #67
solution in #69

[2015-10-17 08:04] aAXEe commented on #42
As far as I see all the points work in the current page.
Example: http://map.openseamap.org/map/?zoom=15&mlat=53.61835&mlon=11.48322&mtext=%3Cb%3EEin%20einsames%20Haus%3C%2Fb%3E%0AZiegelwerder%201%0A19063%20Schwerin&layers=BFFFFFFFFFF0FFFFFFFF

The text entered in the form was:
[code]

----

Note you can enter even javascript into this form. However a simple script-tag does not work:

[code]
http:

[2015-10-17 10:41] aAXEe commented on #39
I fixed the errors described here in #70
The formating helper (bold etc.) is a new feature from my point of view. Currently html is supported but I am not sure whether this is a good idea for security reasons (see http://stackoverflow.com/questions/33184716/is-it-save-to-display-html-code-decoded-by-decodeuricomponent-from-a-url)

[2015-10-17 10:44] aAXEe commented on #45
I added the options for 10m and 100m trackpoints in #70 (Commit: https://github.com/aAXEe/online_chart/commit/03af5c29bda3c85052b07084c16550e108f2e7db)
You can see a preview at http://dev-map.brasshack.de/

[2015-10-17 12:32] aAXEe commented on #32
The "send to JOSM" function works normaly.
The problem Nautic describes happens than JOSM tries to download very much data in one request. The osm main server rejects this to avoid overload. This is normal behaviour from JOSM. It also happens when you use the JOSM internal dialog for data downloading.
The size of the region is not limited by the size but by the number of datapoints. So is it not p

[2015-10-19 18:01] aAXEe commented on #39
I removed the html markup option now (https://github.com/aAXEe/online_chart/commit/8649157158f921590d650e2d2f4bdf0df1017e9d). It is unsafe.
I think it is better to not have formating than exposing our visitors a XSS vulnerability.

[2015-10-19 18:05] aAXEe commented on #45
https://github.com/aAXEe/online_chart/commit/8649157158f921590d650e2d2f4bdf0df1017e9d adds the contour layer

[2015-10-19 18:36] Nautic commented on #39
Sicherheit geht vor.

Aber kann man nicht wenigstens begrenzt HTML erlauben?
fett, neue Zeile...

Viele benutzen dies für "schöne" Marker-Texte:
- Firmenname fett
- Adresse normal
- Weblink (klickbar - m.W. noch nicht realisiert)

[2015-10-20 15:15] aAXEe commented on #24
Yes, this is a bug. The thumbnail feature is not a separate layer but an option for the wikipedia layer. With the current system for creating the permalinks there is no easy way of changing this.

Possible solutions:

* Implement the Wikipedia-Thumbnail Layer as extry Layer (maybe as pseudo layer)
* Change the source for generating and processing the permalinks

[2015-10-20 17:51] Nautic commented on #52
Uff - nachdem der WP-Layer nicht mehr sichtbar war, hatte ich das aus den Augen verloren:

**Gallery** (en) und **Galerie** (de) wirkt viel allgemeinverständlicher und für die Leser vertrauter.
Darunter stellt man sich intuitiv genau das vor was der Wikipedia-Galerie-Layer zeigt:
eine Galerie der Bilder aus den wichtigsten Wikipedia-Artikeln, geografisch auf der Karte geordnet.

(der technische Be

[2015-10-20 21:15] ehrenfeu commented on #32
@aAXEe sounds reasonable, I'm closing the issue.
@Skippern do you have any references to the JOSM tickets you mentioned in your comment from August last year?

[2015-10-20 21:15] #32 closed

[2015-10-21 12:36] ehrenfeu commented on #42
I don't think it is safe to have this "feature" - I'd rather call it a severe bug. @aAXEe you did some changes to this behaviour in your one-size-fits-all PR #70, no?

[2015-10-21 14:50] aAXEe commented on #42
Yes it is dangerous and I removed this option.
See https://github.com/OpenSeaMap/online_chart/issues/39

BTW: This and #39 moved away from their starting point and their titles are misleading now.

[2015-10-21 14:53] aAXEe commented on #39
Linebreaks (\n) are convertet in <br/> tags. All other code is displayed as plain text.

If you have a good library to parse the html and to remove all dangerous markup we could integrate that. Another option is to use something like markdown (libs: https://github.com/showdownjs/showdown or https://github.com/evilstreak/markdown-js)

[2015-10-21 15:21] ehrenfeu commented on #42
Yes, they are. As you have a better overview right now, could you just create one or more new tickets for the stuff that has been brought up later in #42 and #39? Then I can close these issues.

[2015-10-21 16:11] Nautic commented on #39
Markdown find' ich gut:

**Firma**
Anschrift
[Website](http://github.com)

[2015-10-21 17:47] aAXEe opened #71 "Marker from Permalink: Text markup"
# Background
Commit https://github.com/aAXEe/online_chart/commit/8649157158f921590d650e2d2f4bdf0df1017e9d removes the possibility to use HTML code as markup in the description for a map marker which is loaded from the page URL. This is because of security risks (see http://stackoverflow.com/questions/33184716/is-it-save-to-display-html-code-decoded-by-decodeuricomponent-from-a-url).

Currently onl

[2015-10-21 17:48] aAXEe commented on #39
As written above the issue from the top is solved with #70.

Adding a new markup is a new feature to be discussed here: #71

[2015-10-21 17:48] aAXEe commented on #42
see #71

[2015-10-21 18:34] Nautic commented on #71
**fett**
neue Zeile
und normaler Text

Das reicht um den bisherigen Stand wiederherzustellen.

Als zweiter Schritt wäre eine [klickbare URL](http://github.com) hilfreich.

"Formatting helpers": je ein Icon für "fett" und "URL einfügen" wäre hilfreich.
plus ein "i" mit Link zu http://wiki.openseamap.org/wiki/De:Marker_in_URL

Vielleicht muss man noch die erzeugte URL-Länge begrenzen ?
(erlaubte Zei

[2015-11-01 16:20] aAXEe opened #73 "Renderrules for osm baselayer are outdated"
With #72 our own base layer shows up.

The styles differ from the official ones. The style rules might be outdated.

[2015-12-29 10:12] aAXEe commented on #55
The server now serves the master branch of this repo.

[2015-12-29 10:12] #55 closed

[2015-12-29 10:12] #67 closed

[2015-12-29 10:17] #45 closed

[2015-12-29 10:18] #42 closed

[2015-12-29 10:25] aAXEe opened #75 "Depth layer: add a scale"
The new layers for depth data do not have a scale.

- [ ] Create scales
  * http://depth.openseamap.org/#maptracks has already some scales but they are not readable

- [ ] Display them on the map than necessary
- [ ] Extension: Display the depth on the map as number (mouse hover?)

[2015-12-29 10:59] aAXEe opened #76 "Swiss gauges: no gauges on the map"
The swiss gauges do not work.

The script tries to fetch data from http://osmch.chaosdwarfs.de/web/getTidalTest.php
Example: http://osmch.chaosdwarfs.de/web/getTidalTest.php?b=46.58885&t=48.47635&l=5.33480&r=14.20626
The target scripts seems not to exists anymore.

The code can be found here: https://github.com/OpenSeaMap/tidal-scale/tree/master/experimental/web

[2015-12-29 19:58] aAXEe commented on #71
#77 add the option to use ```<b>``` and ```</b>``` in the text. It replaces the encodes values for this two strings.
Although ```<B>``` (capital B) ```</ b>``` (space after ```/```) etc. are valid html string they are not recognised now.

[2016-02-22 08:03] mojoaxel commented on #75
I built a (red-green) color scale in react.js. Should work with the new OL3 implementation.

[2016-02-22 08:05] mojoaxel commented on #75
Discussion: Is there a way (api) to get the depth of a given position? I think the mouse-over feature can not be implementent without such an api.

[2016-03-03 17:17] Nautic opened #82 "Seamark layer rendering conflicts with river run distance"
Ein Benutzer schreibt:
Die Anzeige von Stromkilometern zB auf Rhein, Mosel, Saar etc. ist nicht immer korrekt. Die Flüsse haben zwei verschiedene Blautöne. Der hellere davon sorgt aber dafür, daß die Stromkilometer nicht mehr lesbar sind, beim dunkleren Blauton ist es in Ordnung:
http://map.openseamap.org/?zoom=16&lat=49.71314&lon=6.59372&layers=BFTFFFTFFTF0FFFFFFTTFF

[2016-03-22 11:11] Nautic opened #86 "Compass rose"
Ein Benutzer wünscht sich ein Tool "Kompassrose".

Die Rose soll eine feine Gradeinteilung und einen Mittelpunkt haben,
um damit rechtweisende Kurse ablesen zu können.
Die Rose soll auf der Karte per Maus verschiebar sein,
und über "Werkzeuge" ein- und ausschaltbar.

[2016-03-22 11:21] Nautic opened #87 "Quality tool "Coastline resolution""
**Auflösung**
Unter "Werkzeuge" soll ein Layer "Coastline resolution" hinzugeschaltet werden können,
der in niedrigen bis mittleren Zoomstufen per Ampelfarben anzeigt,
wo die Küstenlinie in guter Auflösung gemappt ist (grün)
und wo sie noch sehr grob und sägezahn-mässig gemappt ist (rot).

Parameter sind:
- Länge der Segmente
- Winkel zwischen Segmenten
- Alter der letzten Änderung

Dazu gibt es s

[2016-03-22 11:30] Nautic opened #88 "Quality tool "Coastline error""
**Fehler in Küstenlinie**
Die Küstenlinie wird täglich neu gerendert - wenn KEINE Fehler enthalten sind.

Unter "Werkzeuge" soll ein Layer "Coastline resolution" hinzugeschaltet werden können,
der quasi in Echtzeit solche Fehler rot markiert.

Aktuell: http://tools.geofabrik.de/osmi/?view=coastline
Alt: http://wiki.openstreetmap.org/wiki/Coastline_error_checker
Siehe auch: #87

[2016-06-06 12:42] pyrog opened #90 "Permalink for layers does not work"
Affected browser versions
* Seems to be a browser independent problem.<br>(Tested with Safari, Chrome and Firefox on Mac OS X)

Description
* When creating a permalink with activated tidal layer and disable all others, the link does not activate this layer again but defaults layers are always activated (nautical marks, harbors and coordinate grid).

How to reproduce the problem
* Activate only the

[2016-06-06 13:24] #90 closed

[2016-06-06 13:28] aAXEe commented on #90
Thank you for the very detailed and helpfull report! It was easy to find the problem with your information.

In fact the layer parameter from the url (aka permalink) was ignored completly because I missed to change some internal number than I removed the last layer.

If the above permalink brings not up the expected result now, please reopen this issue.

[2016-06-06 14:43] pyrog opened #91 "Permalink for Tidal scale : this layer should be refreshed"
This is a minor bug after #90 resolution.

Affected browser versions
* Seems to be a browser independent problem.

Description
* When creating a permalink with activated **tidal scale**, this layer is not displayed until the map is refreshed.

How to reproduce the problem
* Activate the **tidal scale** layer
* Create permalink
* Follow the [permalink](http://map.openseamap.org/?layers=BFFFFFFFFFF0

[2016-06-06 15:08] pyrog opened #92 "Permalink for Marine traffic : this layer should be refreshed"
Similar as #91 but also the **marine traffic** is never displayed (just the logo).

Affected browser versions
* Seems to be a browser independent problem.

Description
* When creating a permalink with activated **Marine traffic**, this layer is not displayed until this layer is checked/unchecked.
* In all cases, the traffic itself is never displayed (only this logo below)<br/>
<img width="86" alt=

[2016-06-06 15:23] aAXEe commented on #92
Sorry for this:

Actually we do not have a working marine traffic backend. So you can activate the layer but it will never show any data. See also http://forum.openseamap.org/viewtopic.php?id=2188
We are in active communication with marine traffic to get a working api again.

[2016-06-06 15:23] #92 closed

[2016-06-06 15:27] aAXEe commented on #91
The browser does not load any tidal layer related data on page load with the layer activated.
I guess that the activation for this layer is handled in some special way.

Thanks again for your very good description!

[2016-06-06 15:28] pyrog commented on #92
Ok, thanks for that part of the issue 😄
Could you just display a warning message until the API work again ?

But this issue should be still opened for permalink that not refresh this (empty) layer 😉
(the logo should appear after a click on the permalink)

[2016-06-06 15:40] pyrog opened #93 "Harbours layer is not displayed as expected"
Affected browser versions
* Seems to be a browser independent problem.

Description
* When activating **Harbours** layer, it is not displayed.
* When activating **Sea Marks** layer, both sea marks and harbors are displayed

How to reproduce the problem

1. Activate **Harbours** layer
1. Activate **Sea Marks** layer
1. Deactivate **Harbours** layer

Expected result

1. **Harbours** layer should be

[2016-06-06 15:41] pyrog commented on #91
Oh, I just cut and paste a **good** template 😄

[2016-06-06 15:43] aAXEe commented on #91
But you also fill it with useful information ;-)
Including screenshots and all the great things to solve problems.

[2016-12-23 23:29] Nautic opened #94 "Fehler bei Kartenübersicht in Vollbildkarte"
Die Vollbildkarte:
http://map.openseamap.org/?zoom=4&lat=42.56919&lon=-15.18698&layers=BFTFFFTTFTF0FFFFFFFF
zeigt in der Kartenübersicht rechts unten ("-") das Mittelmeer und in der großen Karte den Pazifik.

Die Synchronisation funktioniert auch in anderen Kartenausschnitten nicht.

[2016-12-23 23:36] Nautic opened #95 "Download-Layer"
Der Download-Layer existiert derzeit nicht.
Also muss der Menüpunkt "Download"
als Workaround auf diese Seite verlinken:
http://openseamap.org/index.php?id=kartendownload

Stattdessen verlinkt er falsch auf die Startseite:
http://openseamap.org/index.php?id=openseamap&no_cache=1

[2017-07-18 14:40] Krillle opened #97 "Water depth: sensor offset is not taken under consideration"
While the rendered contour lines are quite good for sea areas already, there are aspects which make them inappropriate for inland waters. Inland waters have much smaller range of depth and usually you have way less water beneath the keel. Inlands water depths of two meters can be considered as safe, while at sea one would not trust anything below at least five meters.

Problem: The sensor vertical

[2017-07-18 14:43] Krillle opened #98 "Render the contours for depth below three meters in steps of 0.5 meter lines"
While the rendered contour lines are quite good for sea areas already, there are two aspects which make them inappropriate for inland waters. Inland waters have much smaller range of depth and usually you have way less water beneath the keel. Inlands water depths of two meters can be considered as safe, while at sea one would not trust anything below at least five meters:

Problem: The contours cu

[2017-08-14 16:42] Nautic opened #99 "Search: marker after found"
How it is:
After "Search" and successful found, the location is in the middle of the screen.
If you pan and zoom, the location gets lost.

How it shold be:
Show a marker (red circle?) to the found location, which does not disappear during pan and zoom.

[2017-10-11 11:25] obama commented on #91
the tidal requests are empty and the requests from tidal_scale.js are send to a server that does no longer host the requested file/service.

https://github.com/OpenSeaMap/online_chart/blob/master/javascript/tidal_scale.js#L53

[2017-10-11 18:57] obama commented on #93
the problem is a different: the seamark layer shows everything that is inside the OSM database tagged with seamark.

the harbours layer shows popups for ports listed in "skipperguide.com", honfleur is not: https://www.skipperguide.de/wiki/Normandie (or maybe it is? the google-earth file is probably not synced with the wiki-entries ..)

[2017-10-12 12:13] pyrog commented on #93
Ok, so the layer could be renamed "Harbours (skipperguide.com)"

[2017-10-13 05:02] Nautic commented on #93
See #41
Aim: merging several harbour DB (WPI, OSM, SG, WD, etc.)
Maintainer wanted. Every help is welcome :-)

[2017-10-13 05:46] Nautic commented on #41
See: [Harbour-Layer](http://wiki.openseamap.org/wiki/OpenSeaMap-dev:Harbour-layer) and [a lot more stuff (English and German)](http://wiki.openseamap.org/wiki/Kategorie:Harbour-DB)
Aim: merging several harbour DB (WPI, OSM, SG, WD, etc.)

Maintainer wanted. Every help is welcome :-)

[2017-10-13 09:39] pyrog commented on #41
In OSM data, need to add a unique ID to one of these databases. e.g. **ref:WPI**=38810 for Marseille (because OSM nodes ID are not resistant).

Does [MMSI](https://en.wikipedia.org/wiki/Maritime_Mobile_Service_Identity) could be the best universal unique id ?
MMSI keys are not very used at that time but could be easily added (~[70](https://taginfo.openstreetmap.org/search?q=mmsi#keys) according Ta

[2018-02-19 16:17] #99 closed

[2018-07-08 08:00] 1kastner commented on #66
@ehrenfeu have you got any news? The license issue is quite important and for the time being I guess I will need to prefer the code of other projects like https://github.com/go-spatial/tegola-openseamap

[2018-07-15 12:44] ehrenfeu commented on #66
Hi @1kastner! For various reasons I am not a member of the openseamap project any more (since a long time actually).
Might be worth asking on the mailing list though. Otherwise, the tegola project looks quite interesting, what's preventing you from using it all along the way for your purpose?

[2018-07-16 08:50] 1kastner commented on #66
Well, so far nothing prevents me from using tegola, I was just surprised by the fact that such a great project which deals with open data itself is not open source in the strict sense.

[2018-07-17 10:54] ehrenfeu commented on #66
Yep, fully agreed!

[2018-11-03 14:18] xintrea opened #101 "Incorrect scale line - incorrect distance value"
Hi!

Your scale line (at corner of map) is incorrect.

See at this image: [OSM vs OSeaM](http://i.piccy.info/i9/0f8fbf1a578372dd84b19ed5b52a6a66/1541103783/79491/1279414/osm_vs_oseam.png)

Real distance of 1km your engine show as 1nmi. And your 1 km is too small relatively real 1km.

I compared OpenSeaMap scale line with OpenStreetMap, YandexMaps, GoogleMaps. All this map service show correct dist

[2018-11-03 18:33] Nautic commented on #101
Hi, thanks for your error message.
Please can you add a permalink for the OpenSeaMap ann OpenStreetMap position?
Thanks, Markus

[2018-11-03 20:39] xintrea commented on #101
If put locality at center of browser windows:

OpenStreetMap: https://www.openstreetmap.org/#map=12/59.9955/29.7513

OpenSeaMap: http://map.openseamap.org/?zoom=13&lat=59.99936&lon=29.73647&layers=BFTFFFFFFTF0TFFFFFFFFF

[2018-11-03 21:06] mojoaxel commented on #101
Looks like the distance-indicator is off by one zoom-level in OpenSeaMap.

[2019-01-06 09:03] adrien-github opened #102 "dumping_ground is not rendered"
Hi,
It seems that dumping ground are not rendered on OpenSeaMap. For instance I've map one with explosives along the french coast, but it doesn't appears :
https://map.openseamap.org/?zoom=14&lat=47.32772&lon=-2.53526&layers=BFTTFTTFFTF0TFFFFFFFFT
https://www.openstreetmap.org/way/638556381#map=14/47.3230/-2.5384&layers=D

Do you think it would be possible to rendered it ?

Kind regards,

Adrien

[2019-01-06 15:30] mojoaxel commented on #102
@aAXEe maybe this could be implementented in https://github.com/aAXEe/online_chart_ol3 !?

[2019-01-10 07:42] Dirk-- commented on #102
@malcolmh  does the seamark rendering

[2019-01-10 09:38] malcolmh commented on #102
fixed

[2019-01-10 09:38] #102 closed

[2019-01-11 11:37] malcolmh commented on #102
As there were only 14 such areas, I touched them all to force a re-render. Should be visible now.

[2019-01-24 17:39] adrien-github opened #103 "Harbour mapped as multipolygon doesn't appears on openseamap"
Hi,
The harbour “Port de la Meule” on the island of Yeu (French Atlantic coast) is mapped as a multipolygon in OpenStreetMap:
https://www.openstreetmap.org/relation/2063793#map=17/46.69440/-2.34521

Despite having the right seamark tags, it didn't appears on OpenSeaMap:
https://map.openseamap.org/?zoom=16&lat=46.69392&lon=-2.34681&layers=BFTTFTTFFTF0TFFFFFFFFF

Kind regards,

Adrien

[2019-01-25 07:05] Dirk-- commented on #103
@malcolmh might answer this

[2019-01-28 13:08] malcolmh commented on #103
OK, it is time to get my new renderer into service! The existing one does not process mutipolygons, but the new one does. I have just done a test rendering of the area in question to check that claim.

I have ordered a new (faster!) machine that will be able to do both the rendering & run the Overpass server - currently these tasks are on two different machines. I will run both renderers in parall

[2019-04-26 16:49] Klumbumbus opened #105 "dev.openseamap.org down"
Not sure if this is the correct place for this report.
http://dev.openseamap.org/ is down. Several JOSM presets used icons from there. Will this server come back or do the presets need to find new icons?

https://josm.openstreetmap.de/jenkins/job/JOSM-Integration/3038/jdk=JDK8/testReport/org.openstreetmap.josm.gui.preferences.map/TaggingPresetPreferenceTestIT/testValidityOfAvailablePresets/

_{htt

[2019-05-01 12:24] don-vip commented on #105
see also https://github.com/OpenSeaMap/josm/issues/25

[2019-05-01 14:12] malcolmh commented on #105
I have fixed INT-1-preset.xml & Presets_Hafen.xml in the OpenNauticalChart repo. I will leave it to the OpenSeaMap devs to fix theirs.

[2019-05-22 15:49] stevo01 commented on #103
Hi Malcolm,
is this feature integrated to "https://svn.openstreetmap.org/applications/editors/josm/plugins/seachart/jrender/" yet?

[2019-05-22 16:31] malcolmh commented on #103
Yes. The only restriction is the ways with role=outer must form a single ring. No disjunct outers!

[2019-05-24 09:50] Krillle opened #106 "Harbour and marina names not rendered"
Names of harbours and marinas are not rendered in OpenSeaMap any more. The Marina symbol is overlaying the OpenStreetMap tiles in a way that the names rendered there are not readable at all.

Example: http://map.openseamap.org/?zoom=18&lat=39.55557&lon=2.62547&layers=BFTFFFFFFTF0TFFFFFFFFF

[2019-05-24 09:55] Krillle opened #107 "Name rendering is truncated at ' char"
Names of e.g. sea areas are truncated at a ' . e.g. "Platja d'es Trenc"

[2019-05-24 09:56] Krillle opened #108 "Sea are names are rendered too big for size, overlaying chart details"
The names of sea areas like bays or shoals are rendered in a too big font size, which leads to cluttered map if several areas are close together.

[2019-10-06 21:27] wschildbach commented on #101
I think it is off by more -- if you put both an OpenStreetMap and an OpenSeaMap display at equal scale, the ScaleLine has a different size not a factor of two.
The OpenLayers ScaleLine module has seen a number of bug fixes relating to scale. We should consider updating to a newer version of openLayers.

[2019-10-06 21:30] wschildbach commented on #94
I don't see what is wrong. Can you re-check?

[2019-10-07 01:48] Nautic commented on #94
Mit obigem Link sehe ich den Download-Layer (in OL 3):
Karte zeigt Atlantik und EU (z=4)
Übersicht (Fenster rechts unten) zeigt RU als Ausschnitt

Wenn in der Übersicht das Ausschnittsfenster auf Skandinavien verschoben wird,
zeigt die Karte USA in z=4.

Mit http://map.openseamap.org/?zoom=4&lat=45.35317&lon=-105&layers=BFTFFFTFFTF0TFFFFFFFTF
Karte zeigt USA in z=4
Übersicht zeigt Skandinavien

Ka

[2019-10-07 02:25] Nautic commented on #101
Mit gleichem Zoomlevel und gleichem Kartenmittelpunkt
sind die Kartenausschnitte in OSM (OL ?) und OpenSeaMap (OL 2) identisch.
Aber die Skalen zeigen in OSM 500m, in OpenSeaMap 1km,
und die Skalenlänge differiert von OSM mit 12mm für 500m zu OpenSeaMap mit 13,5mm für 1km.

Ich vermute den Fehler im Skript für den Massstab (scale).
Siehe #17

Update auf [OL-6](https://openlayers.org/download/) wär

[2019-10-07 07:13] wschildbach opened #110 "javascript code grows without bounds"
Every time the map is moved or zoomed, a new request to charlie is submitted to get harbour data. The results of that request are added to the page source as a <script> command, but older requests are not deleted.
This means the source code continues to grow. Possibly this also means that more and more requests are sent to charlie every time though I am not sure about this yet.
I think this consti

[2019-10-07 07:15] wschildbach commented on #107
Hi @Krillle , Thanks for the bug report!

Can you give more detail about this? Where would you expect those names to show up? And, could you supply a permalink to an area where you observe this bug?

[2019-10-07 07:30] wschildbach commented on #17
OL3 and up do not seem to have (or need) this property anymore, but it is good to have a reference to the source of the problem.

[2019-10-07 13:18] Krillle commented on #107
Hi @wschildbach.

Thanks for coming back to this.
I worked around the problem by renaming the problematic nodes.

Original tagging with that problem was:

seamark:type = "sea_area"
seamark:sea_area:category = "bay"
seamark:name = "Platja d'es Trenc"

You can reproduce the problem with this node histories: https://www.openstreetmap.org/node/5902197421/history
https://www.openstreetmap.org/node/5902

[2019-10-07 16:51] wschildbach commented on #107
Thanks, I understand now. This is a problem with the seamarks renderer.

@malcolmh , could you take a look at this?

- Wolfgang

[2019-10-07 18:54] malcolmh commented on #107
OK, I have found the problem. It is in the "jsearch" program that extracts areas from world.osm. I am splitting strings using both single and double quote characters - hence an apostrophe is seen as string terminator.

I can try simply removing the single quote from the splits & see what happens - I will have to try some off-line tests first to check that this does not break anything.

The better

[2019-10-07 20:42] wschildbach commented on #94
Sorry, I don't understand what you mean by old download-layer, current map, how one is OL2 and the other one OL3, what you mean by "window at the bottom right", or by "moving the section". It appears I am missing some rather fundamental context to this bug. None of any of this shows for me at the links you supply above.
Can you clarify the steps to reproduce the problem?

[2019-10-08 02:48] wschildbach commented on #39
Can this issue be closed? From the comments, it seems the original bug is fixed.

[2019-10-08 03:47] wschildbach commented on #73
At this time, we are pulling tiles from OSM. Can this bug be closed?

Wolfgang

[2019-10-08 06:37] wschildbach commented on #82
In the seamarks layer, the display of kilometers from a river's origin is sometimes hard to read, when the lighter blue layer overlaps the kilometers. @malcolmh , it looks like the rendering order between the "kilometers" and the "light blue patch" should be reversed. What do you think?

[2019-10-08 07:22] aAXEe commented on #39
Agreed

[2019-10-08 07:22] #39 closed

[2019-10-08 07:23] #73 closed

[2019-10-09 19:17] wschildbach opened #112 "Help is non functional"
When I click on "help->help->JOSM", a page opens that says "page not found". The same is true for all the other help texts.

[2019-10-09 20:05] wschildbach commented on #94
I can now reproduce the bug: opening the overview map by clicking on the "+" sign in the bottom right corner opens an overview map; but the map does not correctly sync with what is shown in the main map. I suspect this is a bug in OL2. Has the overview ever worked?

[2019-10-09 20:08] wschildbach commented on #106
You can switch off the Sea Marks layer using the "View" menu, to see the names again.
I am not sure how we would really fix this issue properly since the text and the Sea Mark reside in different layers; and the Sea Mark layer can be switched on and off.

[2019-10-10 07:04] wschildbach commented on #101
With an additional patch (PR forthcoming), this is what the ScaleLine looks like:

![image](https://user-images.githubusercontent.com/4427008/66546203-ce1bbc00-eb3c-11e9-9efa-61b0fbd52fe2.png)

[2019-10-14 06:27] #17 closed

[2019-10-15 12:27] wschildbach commented on #101
Hi @xintrea , can you take another look whether the problem is resolved and close the bug if it is?

[2019-10-16 09:30] wschildbach commented on #61
This issue has been fixed with #113 and can be closed.

[2019-10-16 09:52] wschildbach commented on #60
This has been fixed by #113 and can be closed.

[2019-10-16 09:53] wschildbach commented on #54
The layer is disabled in the code, so this issue can be closed.

[2019-10-16 21:13] Nautic commented on #60
3. Nachkommastelle bezieht sich hier auf "Distanz": ####,### km
Derzeit sind nur 2 Nachkommastellen angezeigt.

[2019-10-17 10:58] #13 closed

[2019-10-17 10:58] #95 closed

[2019-10-18 10:24] wschildbach commented on #108
Hi @Krille, can you give a permalink so I can easily repro this issue? Thanks!

[2019-10-18 12:57] wschildbach opened #120 "AIS layer visibility is not saved between browser restarts"
To reproduce:

1. open map.openseamap.org
2. observe that the AIS layer is active
3. Switch the layer off through the view menu
4. Close the browser window
5. open a new browser window, pointing at map.openseamap.org
6. Observe that the AIS layer is again visible

In step 6, the layer should be hidden (because layer visibility should be preserved between browser restarts, and generally is for all

[2019-10-20 07:16] malcolmh commented on #107
This has now been fixed.

[2019-10-20 07:16] #107 closed

[2019-10-20 21:45] wkmhv opened #122 "Harbours not displaying"
http://dev.openseamap.org/website/map/api/getHarbours.php?b=43.16098&t=43.46375&l=16.23863&r=17.39219&ucid=0&maxSize=5&zoom=11

This link return 404
Any idea what's wrong?

[2019-10-22 21:32] wschildbach opened #123 "Elevation profile does not work"
Enabling the "elevation profile" does not show anything. It should show ASTER GDEM & SRTM Hillshade data.
The reason is that the code pulls from http://korona.geog.uni-heidelberg.de/tiles/asterh/ which does not exist anymore.

[2019-10-23 21:21] wschildbach commented on #123
It seems we have another URL to use, so closing this PR for now in favor of using the correct URL.

[2019-10-23 21:21] #123 closed

[2019-10-24 12:46] #62 closed

[2019-10-24 21:51] wschildbach commented on #86
@Nautic Das issue können wir dann wohl zumachen.

[2019-10-25 08:28] wschildbach commented on #120
Confirming as fixed.

[2019-10-25 08:28] #120 closed

[2019-10-25 19:13] Nautic commented on #101
Vielen Dank für die Korrektur, und für die Verbesserung im Layout :-)
In z=14,15,17,18 finde ich das Layout hilfreich.

In z=3..11 könnte die Linie deutlich länger sein (Faktor 5?)
In z=12,13,16 könnte die Linie noch länger sein (Faktor 2..3?)
In z=15 ist das Verhältnis von nmi und km noch ungünstig (nmi grösser)

[2019-10-29 15:39] Nautic commented on #112
[de:Link für Hilfeseite JOSM](https://wiki.openseamap.org/wiki/De:JOSM_and_Plugin)
en:Link für Hilfeseite JOSM: ist noch nicht übersetzt.

[2019-10-29 20:17] wschildbach commented on #122
Yes, this is a known issue -- harbour display is broken currently, unfortunately. We are working on it but it might be a little while...

[2019-10-29 20:20] wschildbach commented on #106
I don't see how we can easily fix this, and we have a workaround, so I propose we close this as wontfix.

[2019-10-29 20:35] wschildbach opened #132 "scale line is not sized optimally"
Vielen Dank für die Korrektur, und für die Verbesserung im Layout :-)
In z=14,15,17,18 finde ich das Layout hilfreich.

In z=3..11 könnte die Linie deutlich länger sein (Faktor 5?)
In z=12,13,16 könnte die Linie noch länger sein (Faktor 2..3?)
In z=15 ist das Verhältnis von nmi und km noch ungünstig (nmi grösser)

_Originally posted by @Nautic in https://github.com/OpenSeaMap/online_chart/issues/1

[2019-10-29 20:42] wschildbach commented on #101
moved last comment into new feature #132 and closing this one.

[2019-10-29 20:42] #101 closed

[2019-10-29 20:45] wschildbach commented on #103
@malcolmh sounds like this is deployed -- can we close the bug?

[2019-10-29 20:50] wschildbach commented on #86
We have a compass rose now; and it can be used to read off courses.

[2019-10-29 20:50] #86 closed

[2019-10-29 21:10] wschildbach commented on #58
I am working on code to read GPX files back in.

[2019-10-29 21:16] #54 closed

[2019-10-29 21:17] malcolmh commented on #103
Yes

[2019-10-29 21:17] #103 closed

[2019-10-29 21:22] wschildbach commented on #41
I would suggest we close this issue -- reimplementing the harbour DB does not seem to fall into the purview of the online chart per se.

[2019-10-30 05:42] #59 closed

[2019-11-10 17:47] wkmhv commented on #122
according this page. https://github.com/OpenSeaMap/online_chart/blob/master/dependencies.md
it should return something like this:
putHarbourMarker(1226, 16.396666666667, 43.163333333333, 'Sv._Klement - Marina PalmiÅ¾ana', 'http://www.skipperguide.de/wiki/Sv._Klement#Marina_Palmi.C5.BEana', '5');
But now I got a php file.

[2019-11-10 18:21] wschildbach commented on #122
One #133 is deployed, this will be fixed.

[2019-11-18 07:13] #122 closed

[2019-12-23 11:40] wschidol opened #136 "Compass rose: magnetic deviation is hard to read"
When switching on the compass rose (menu->view->compass rose), the numerical value of the magnetic deviation is hard to read.
One solution would be to make the inner circle of the compass rose opaque and render the deviation in larger font. There might be others.
@Nautic has some more ideas and links to possible designs.

[2019-12-23 11:53] wschildbach opened #137 "Compass rose: use the newest world magnetic model"
NOAA has released their newest model WMM2020 (see https://www.ngdc.noaa.gov/geomag/WMM/). Our coefficients need to be updated to use the newest model.

[2020-01-06 19:59] Nautic commented on #108
Hier ein Beispiel in Mallorca:
https://map.openseamap.org/?zoom=12&lat=39.3575&lon=3.23155&layers=BFTFFFTFFTF0FFFFFFFFFF

[2020-01-06 20:13] Nautic commented on #94
Als "Workeround" schlage ich vor, die Übersichtskarte und das aufrufende "+" vorübergehend aus dem Code auszukommentieren - den Bug hier aber offen zu lassen.

[2020-01-06 20:28] Nautic commented on #132
Ergänzung (neu?):
in z=15,16,17,18 ist die Linie nun zu lang.
Gut fände ich, wenn immer das gleiche Verhältnis angezeigt würde: 1nm/1km, 10nm/10km, etc.
(das Erscheinungsbild wäre harmonischer)

[2020-01-13 09:08] stevo01 opened #138 "integration of open sea map tile server needed"
We are working on open sea map tileserver for base map at the moment. (t2.openseamap.org)
For the test of the server we need a kind of "switch" which allows administrator of server to select usage of "t2.openseamap.org" instead of "a.tile.openstreetmap.org" and visa versa.

[2020-01-21 23:09] #138 closed

[2020-04-19 21:11] Krillle commented on #106
I don't agree to the proposal. Marina names have been rendered in the past. Example here: https://bit.ly/2zbT3qR (I assume its got lost switching to Java rendering engine.)

Besides harbour icons are not necessarily placed on the same nodes as the "street" marina tags.

Marina names are essential and would be very helpful. Especially in apps and maps without the option to switch off seaman layer.

[2020-05-05 07:40] wschildbach commented on #106
Ok, it seems this is two issues in one:
1) the seamark layer used to contain marina names, but does not anymore. @malcolmh, is this correct and would you consider fixing this?
2) the OSM layer also contains these names and so they sometimes overlap, sometimes appear twice. Now that we also control the rendering of the osm layer, we could consider removing marina names in the osm layer.

[2020-05-05 09:12] malcolmh commented on #106
Fixed

[2020-05-05 09:49] malcolmh commented on #82
I do render the fairway shading before the distance marks. It looks fine on the native Java rendering. The problem would appear to be in the PNG conversion process, which is a third-party library.

[2020-05-05 09:59] malcolmh commented on #108
Fixed

[2020-05-05 09:59] #108 closed

[2020-05-11 12:25] wschildbach commented on #82
Re-opening this as the problem still persists even though the problem seems to be in png conversion.
@malcolmh happy to help fix this - (where) should I go looking for this conversion step?

[2020-05-11 13:40] wschildbach commented on #106
It seems the original issue is not fixed yet. With the link above, club del Mar ist obscored by the seamark layer.
@malcolmh Should the seamark layer also render the marina name?

[2020-05-11 13:52] malcolmh commented on #82
It is in the Java Graphics2D library & therefore out of reach.

[2020-05-11 14:14] Krillle commented on #106
I think it it fixed, but needs some time until the whole world is re-rendered.

Check here for already new rendered Seamap tiles: http://map.openseamap.org/?zoom=16&lat=52.42679&lon=13.64169&layers=BFTFFFFFFTF0TFFFFFFFFF

[2020-05-11 15:10] malcolmh commented on #106
Yes, the seamark layer does do on-demand rendering. It is only updated when a seamark is edited. The renderer then re-renders a 3x3 zoom-12 tile area around the changed object(s). I have touched the marina in question, so the new rendering should appear in the next hour.

[2020-05-31 11:10] runette opened #142 "SSL: openseamap.org tries to load javascript via HTTP"
The current servers for OpenSeaMap only seem to serve HTTP - which nowadays makes it impossible to integrate it into any site using https.

All sites these days should be using https. Is there anyway or plans to get the earmarks available on https?

[2020-05-31 20:41] Nautic commented on #142
For which site do you want to use OpenSeaMap?
https://map.openseamap.org/ works fine, the integration in https://openseamap.org too.

[2020-06-01 09:02] Dirk-- commented on #142
Tile server supports https, too:
https://t2.openseamap.org/tile/6/34/20.png

[2020-06-01 11:21] runette commented on #142
Thanks - I think I was trying t1 and not getting a response

On Mon, 1 Jun 2020 at 10:02, Dirk-- <notifications@github.com> wrote:

[2020-06-01 14:58] runette commented on #142
BTW - "not for nothing" (a curious but useful English phrase) but just so as you know ...

Actually - no it doesn't. Certainly, on my Chrome browser it reports as "Not Secure" because of mixed content and they are all starting to get much stricter about that.

As a case in point :

Actually - no it doesn't. Again in my Chrome Browser the map does NOT show when accessed using https. This is because

[2020-06-01 17:18] smurfix commented on #142
While that's correct, you initially wrote

which is quite obviously not correct.

It would have been a lot more helpful if you had actually looked at the traffic and told us *which* content it fetches via HTTP-no-S, instead of expecting us to do that, esp. since it's entirely possible that depending on personal settings the problem doesn't always show up.

TBH: It's loading tiles from http://t1.op

[2020-06-01 18:08] smurfix commented on #142
Also (and worse), openseamap.org tries to load OpenLayers.js and OpenStreetMap.js without SSL. Current Firefox already blocks that, making the page somewhat unuseable.

[2020-06-01 19:49] runette commented on #142
To be completely correct, I am not trying to get map.openseamap.org to do anything - I am adding the seamarks as an overlay to another map in OpenLayers. That was probably slightly lost since my spell checker keeps changing "seamarks" to "earmarks"! {and I am English and I have no idea what an "earmark" would be!}.

All of the documentation (e.g. http://wiki.openseamap.org/wiki/OpenSeaMap_in_Websi

[2020-06-05 06:17] wschildbach commented on #106
Thanks Malcolm, then it appears we can fix this one. Removing marina names from the osm layer can become a seperate issue.

[2020-06-05 06:17] #106 closed

[2020-06-05 07:44] smurfix commented on #142
We still have HTTP content on an HTTPS site, which means that https://openseamap.org/ doesn't show a chart on recent Firefox et al.

[2020-06-05 08:43] stevo01 commented on #142
For me it seems to be a issue for https://github.com/OpenSeaMap/website instead of  of project https://github.com/OpenSeaMap/online_chart/.

[2020-06-05 08:54] smurfix commented on #142
Right … I was confused. sorry. Closing.

[2020-06-05 15:34] stevo01 commented on #142
I added javascript files for openlayers to directory "/var/www/openseamap/typo3/js" and made update in file ./typo3/fileadmin/template/resources/addhead/addhead_start.txt.

[2020-06-05 15:34] #142 closed

[2020-06-18 08:36] Nautic commented on #71
Ziel wäre ein solches Erscheinungsbild im Popup:
**Firma**
Anschrift
[Website](http://github.com)

Idealerweise mit je einem Button für "fett" und für "Link" (URL+Linktext, klickbar)
Ersatzweise irgendein Markdown für beide Funktionen.
Und das Ganze natürlich **sicher** - also ohne HTML/JS/etc.

das funktioniert bereits:
"fett" mit Code < b >..< / b > (ohne Leerzeichen)
"neue Zeile" mit Taste [ret

[2020-08-04 05:20] stevo01 opened #143 "the wikipedia layer does not work"
sample:
https://map.openseamap.org/?zoom=10&lat=49.48953&lon=11.22642&layers=BFTFFFTFFTT0FFFFFFFFFF

[2020-08-04 05:23] stevo01 commented on #143
api/proxy-wikipedia.php seems to be responsible to fetch data from https://tools.wmflabs.org/

a manual call of "https://map.openseamap.org/api/proxy-wikipedia.php" shows
![image](https://user-images.githubusercontent.com/33812539/89255961-5961c300-d623-11ea-8b04-ce9378962ed0.png)

[2020-08-04 05:38] stevo01 commented on #143
analysis in webbrowser shows that url "https://tools.wmflabs.org/wp-world/marks.php" is redirected to "https://wp-world.toolforge.org/marks.php "

the following patch solves the problem:
[code]

[2020-08-04 06:07] stevo01 opened #144 "several external references using http instead https"
index.php includes following references which needs update to https:
- http://t1.openseamap.org
- http://t2.openseamap.org
- http://osm.franken.de
- http://wiki.openseamap.org
- http://a.tile.openstreetmap.org
- http://b.tile.openstreetmap.org
- http://c.tile.openstreetmap.org
- http://sourceforge.net/projects/opennautical/files/Maps

[2020-08-04 06:34] stevo01 commented on #144
test of https://osm.franken.de shows that certificate is expired since 05/2018

[2020-08-04 11:44] aAXEe commented on #143
Thanks a lot @stevo01.

Of course a good idea but do we realy (still) need this proxy script?
With modern javascript we should do the request directly from the users browser and get data directly. CORS needs to be configured properly at the destination server to allow this.

[2020-08-04 11:44] #143 closed

[2020-08-04 16:11] stevo01 commented on #143
I totally agree. We should not waste time with beautification of the php code ...

[2020-08-06 08:19] stevo01 commented on #144
@aAXEe can you accept the pull request  https://github.com/OpenSeaMap/online_chart/pull/146 ?

I tested https://github.com/OpenSeaMap/online_chart/pull/146 on server and it is working like expected. The only reference with http is http://osm.franken.de. We can change it if certificate is valid.

[2020-08-06 08:47] #144 closed

[2020-09-10 06:42] stevo01 opened #147 "seamark.php - wrong usage of "starboard" and "port" site"
user marco send following notification:

 https://map.openseamap.org/legend.php?lang=it&page=seamark

wrong:

correct:

[2020-09-10 06:51] stevo01 commented on #147
see
https://en.wikipedia.org/wiki/Lateral_mark#Region_A
vs
https://en.wikipedia.org/wiki/Lateral_mark#Region_B

[2020-09-21 06:16] stevo01 opened #148 "invalid links on webpage"
the help icon für trip planner is linked to https://map.openseamap.org/legend.php?lang=de&page=help-trip-planner ans shows error 404

correct links:
https://wiki.openseamap.org/wiki/OpenSeaMap-dev:De:Trip_Planner
https://wiki.openseamap.org/wiki/OpenSeaMap-dev:Trip_Planner

[2020-09-21 06:21] stevo01 opened #149 "No "Help/Info" Icon/Link in Permalinks Site"
There is no "help/icon" available in permalink windows.

Please add icon and link to following wiki sites:
https://wiki.openseamap.org/wiki/De:Marker_in_URL
https://wiki.openseamap.org/wiki/Marker_in_URL

[2020-12-19 16:46] blind-fish commented on #147
I think dritta/sinistra and tribordo/babordo are interchangable, although I found more instances of tribordo/babordo.
Image-labels (and alt-texts) seem alright for Italy, so i dont quite get the wiki-links.
Or did someone already fix this?

[2020-12-20 09:26] stevo01 commented on #147
Thanks for the comment. The link to wikipedia is just a reference document.

[2020-12-20 09:26] #147 closed

[2021-03-14 23:00] joe69 opened #150 "Tile Server"
Hi,

i want to use the Tile Server for my new Flutter Project:

When i use the tile:
http://t1.openseamap.org
Example:
http://t1.openseamap.org/seamark/9/13/128.png

it everytime grey

Thanks
Thomas

[2021-03-14 23:09] #150 closed

[2021-03-14 23:09] joe69 commented on #150
sry , working fine!

[2021-04-25 10:07] avi92 commented on #148
Same applies for menu links "JOSM", "Tidal Scale" and "Website". Does anyone know the correct target address for the "Website" link? If so, I will open a pull request for this issue.

[2021-05-26 20:05] Nautic commented on #148
### Menu "Help" and menu "Tools"
Trip planner:
https://wiki.openseamap.org/wiki/h:De:T%C3%B6rnplaner
https://wiki.openseamap.org/wiki/h:En:Trip_Planner

Permalink:
https://wiki.openseamap.org/wiki/h:De:Marker_in_URL
https://wiki.openseamap.org/wiki/h:En:Marker_in_URL
"i" icon is missing in menu "Tools > Permalink" popup window

JOSM:
https://openseamap.org/index.php?id=josmdownload&L=0
https://ope

[2021-05-27 06:40] Nautic opened #151 "German gauges: no gauges on the map"
The swiss gauges do not work.
(similar to #76 )

The script tries to fetch data from http://osmch.chaosdwarfs.de/web/getTidalTest.php
Example: http://osmch.chaosdwarfs.de/web/getTidalTest.php?b=46.58885&t=48.47635&l=5.33480&r=14.20626
The target scripts seems not to exists anymore.

The code can be found here: https://github.com/OpenSeaMap/tidal-scale/tree/master/experimental/web

[2021-05-27 06:46] Nautic commented on #76
Help pages:
https://wiki.openseamap.org/wiki/h:De:Pegel
https://wiki.openseamap.org/wiki/h:En:Gauges
https://wiki.openseamap.org/wiki/OpenSeaMap-dev:Pegel

[2021-06-01 16:44] avi92 commented on #148
I have a fix ready, tested locally. If someone can give me the authorization to assign the issue I will create a pull request.
Out of interest: Is there some kind of contribution document available?

[2021-06-06 16:27] Nautic opened #152 "Trip planner - remember nm/km (after cleaning the trip)"
bisher:
Wenn ein Track mit "clean" geschlossen wird, damit man einen neuen anlegen kann,
beginnt der neue mit [nm].

besser wäre:
Der Törnplaner merkt sich die vorher benutzte Längeneinheit.
Dann müsste man nicht jedesmal wieder umschalten auf [km].
(meist arbeitet man Binnen _oder_ auf See)

Wenn das Tool geschlossen wird, kann es die Einstellung wieder vergessen (damit man keine Cookies braucht

[2021-06-06 16:36] Nautic opened #153 "Trip planner - Name for waypoint"
Wenn man einem Fluss oder einer Strasse folgt, bekommt man viele Punkte mit Richtungsänderungen.
Viele haben keine Bedeutung als Wegpunkt.
Damit man in einer langen Liste, die eigentlichen Wegpunkte wieder findet, sollte man die Punkte mit Namen bezeichnen können.
Diese Namen sollen auch in der Datei gespeichert werden.

Beispiel für Fluss: Brücke, Hochspannungsleitung, Kirche, Wehr, Stromschnelle

[2021-06-06 16:42] Nautic commented on #58
Das ist die wichtigste Funktion, damit man mit dem Tool wirklich arbeiten kann :-)
(wir sollten damit nicht auf OL-3 warten ;-) )

[2021-06-06 17:06] Nautic opened #154 "Trip planner - wrong link for "i" icon"
Das "i" Icon linkt auf 404

richtig:
https://wiki.openseamap.org/wiki/h:De:Törnplaner
https://wiki.openseamap.org/wiki/h:En:Trip_planner

[2021-10-29 14:46] matkoniecz opened #156 "Are you interested in becoming tile layer featured on the OSM main site?"
Someone added this map style to "Proposed layers" in https://wiki.openstreetmap.org/wiki/Featured_tile_layers

Are you interested in being a new map style featured on the OSM main site? AFAIK this map style fulfills criteria mentioned at https://wiki.openstreetmap.org/wiki/Featured_tile_layers/Guidelines_for_new_tile_layers and it could be interesting expansion of map styles already available (tho

[2021-11-09 08:50] aAXEe opened #157 "Wikipedia Layer not working (anymore)"
Wikipedia Layer shows no data.

https://github.com/OpenSeaMap/online_chart/blob/master/dependencies.md#wikipedia-links

Data source: https://tools.wmflabs.org/wp-world/marks.php?LANG=de&thumbs=no&bbox=12.656675230712,52.397588924959,14.056264769288,52.681032976365

Is working and responses with a XML file.

Proxy: https://map.openseamap.org/api/proxy-wikipedia.php?LANG=de&thumbs=no&bbox=12.6566752

[2021-12-06 19:20] matkoniecz commented on #156
@Nautic Should I remove this from wiki? Or is there someone willing to sponsor deployment on openstreetmap.org and handle server upkeep?

[2021-12-13 17:05] Dirk-- commented on #156
I would vote for adding seamark-overlay !

To my experiance,
- service is quite robust and reliable [1]
- daily updates [2]
- all OSM [3]

[1] https://wiki.openseamap.org/wiki/OpenSeaMap-dev:Server_Alpha
[2] https://github.com/OpenNauticalChart/renderer/issues/1
[3] :-)

[2022-01-10 22:12] wschildbach commented on #157
Related to #143

[2022-01-10 22:24] wschildbach opened #158 "OpenCPN download functionality does not work"
Tools->Download->OpenCPN (Kap) points to the defunct server https://downloadlayer--onlinechart-ol3.netlify.app/ .

A simple workaround would be to instead point to [alpha](http://alpha.openseamap.org/#/download/.*/2040575595?lat=27.1957&lon=-12.0683&zoom=3&layers=A00000011000&lang=en).

[2022-02-04 16:47] wschildbach commented on #158
It looks like this is merged, bit not deployed to the production server...?

[2022-02-04 19:24] aAXEe commented on #158
Sorry I missed the deployment part.

Now the production server uses the current state:

![image](https://user-images.githubusercontent.com/3298652/152590545-36d20917-afe9-4475-81d9-a1762a1bd762.png)

[2022-02-04 19:24] #158 closed

[2022-09-14 15:12] jsavage opened #162 "Is a permalink to aerial view possible"
I can see documentation to permalink feature [here](http://wiki.openseamap.org/wiki/h:En:Marker_in_URL#Permalink_without_marke)
However, when I create a permalink with Aerial view showing the result of following that URL does not switch the Aerial view on.
This applies whether I copy the permalink url from the bottom right of the map or whether  I generate a permalink using Tools / permalinks.

Do

[2022-09-21 14:45] jsavage opened #163 "Inconsistent rendering of AIS targets"
For some time I have observed that AIS targets are not always rendered in the correct geographic location when zooming in and out on OpenSeaMap.  I am judging correctness here in relation to the path the vessel and others will have taken.

The attached video (compressed) is the simplest example that I have been able to capture but I should emphasise that this is not an isolated case.  In this exam

[2022-10-09 12:48] wschildbach commented on #148
I've made you the assignee for both #148 and #149.

We don't yet have a contribution document. I am not so familiar with those -- what would be covered? Is there maybe a good template which we could use?

[2022-10-09 12:59] wschildbach opened #164 "OSM tile server address incorrect"
The URL has changed to tile.openstreetmap.org. The new scheme to use is https://tile.openstreetmap.org/{z}/{x}/{y}.png.

[2022-10-15 07:50] #164 closed

[2022-10-27 19:09] ferrisbuhler opened #166 "maps.openseamap.org is not available"
Dear makers of the OpenSeaMap
Most probably you already got aware of the fact that the full web view of the openseamap (https://maps.openseamap.org/) is currently not accessible. The error message says that the "Let's encrypt" SSL certificate is expired since 26.10.2022.
Thanks for providing this great service! Good luck!

[2022-11-01 07:13] wschildbach commented on #166
After hardware repairs, some machines did not come back up. This should now be fixed again.

[2022-11-01 07:13] #166 closed

[2022-11-01 07:16] wschildbach commented on #82
@stevo01 is this something you could look at?

[2022-11-29 09:34] Gazer75 opened #168 "Not rendering long cable and pipeline segments?"
There appears to be a problem with long lines and rendering.
There is a lot of data on pipes, communication- and power cables sin the North Sea that is missing on the map.

Either the map has not been updated for these areas in years or segments over around 50km are left out.

The zoom level of rendering could also be improved for cables, overhead lines and pipes.